<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>CoronaVirusTracker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1>Coronavirus Tracker (COVID-19)</h1>
		<p>This application list the current number of cases reported
			across the Globe</p>

		<div class="jumbotron">
			<h1 class="display-4" th:text="${totalReportedCases}"></h1>
			<p class="lead">
				Total cases reported as of <span th:text="${lastUpdateDate}"></span>
			</p>
			<hr class="my-4">
			<p>
				<span>New cases reported since previous day:</span> <b><span
					th:text="${totalNewCases}"></span></b>
			</p>
		</div>


		<table class="table">
			<tr>
				<th>Province/State</th>
				<th>Country/Region</th>
				<th>Total cases reported</th>
				<th>Changes since last day</th>
			</tr>
			<tr th:each="locationStat : ${locationStats}">
				<td th:text="${locationStat.state}"></td>
				<td th:text="${locationStat.country}"></td>
				<td th:text="${locationStat.latestTotalCases}"></td>
				<td th:text="${locationStat.diffFromPrevDay}"></td>
			</tr>
		</table>
	</div>

</body>
<div class="d-flex justify-content-center">2020 Doomon Inc.</div>
</html>

